.App {
  text-align: center;
  background-color: lightskyblue;
  width: 250px;
  padding: 20px;
  margin: 20px auto;
}

.App2 {
  background-color: lightgreen;
  padding: 20px;
  margin: 20px auto;
  width: 250px;
  padding: 20px;
}
